
#walrus-showing {
  display: none;
}
#seal-fadeOut{
  display: none;
}


.clickable {
  cursor: pointer;
  color: #0088cc;
}
.click-toggle {
  cursor: pointer;
  color: #0088cc;
}

/*.click-out {
  cursor: pointer;
  color: #0088cc;
}*/

.click-toggle:hover {
  text-decoration: underline;
}
.clickable:hover {
  text-decoration: underline;
}
/*.click-out:hover {
  text-decoration: underline;
}*/
